<div class="card-container">
  <div class="ui raised link cards">
    <a class="ui content" href="/notebooks/ITU-R P.2108-3.1.2.html">
      <div class="card">
        <div class="content">
          <h2>ITU-R P.2108</h2>
          <div>
            <p>Height gain terminal correction model</p>
          </div>
        </div>
        <div class="extra content">
          <!-- <span class="right floated"><a href="#"><h5 class="card-view-btn">Visit</h5></a></span> -->
          <span>
            <i class="user icon"></i>
            <a href="https://observablehq.com/@gurazeez16/itu-r-p2108"
              >gurazeez16</a
            >
          </span>
        </div>
      </div>
    </a>
    <a class="ui content" href="/notebooks/ITU-R P.2108-3.2.2.html">
      <div class="card">
        <div class="content">
          <h2>ITU-R P.2108</h2>
          <div>
            <p>Statistical clutter loss model for terrestrial paths</p>
          </div>
        </div>
        <div class="extra content">
          <!-- <span class="right floated"> Joined in 2014 </span> -->
          <span>
            <i class="user icon"></i>
            <a href="https://observablehq.com/@gurazeez16/itu-r-p2108"
              >gurazeez16</a
            >
          </span>
        </div>
      </div>
    </a>
    <a class="ui content" href="/notebooks/ITU-R P.2108-3.3.2.html">
      <div class="card">
        <div class="content">
          <h2>ITU-R P.2108</h2>
          <div>
            <p>Earth-space and Aeronautical statistical clutter loss model</p>
          </div>
        </div>
        <div class="extra content">
          <!-- <span class="right floated"> Joined in 2014 </span> -->
          <span>
            <i class="user icon"></i>
            <a href="https://observablehq.com/@gurazeez16/itu-r-p2108"
              >gurazeez16</a
            >
          </span>
        </div>
      </div>
    </a>

    <!-- <iframe width="100%" height="296" frameborder="0"
    src="https://observablehq.com/embed/@gurazeez16/itu-r-p2108?cells=viewof+Inps%2CAdditional_Loss%2Cviewof+Ctype"></iframe>
    <iframe width="100%" height="105" frameborder="0"
    src="https://observablehq.com/embed/@gurazeez16/itu-r-p2108?cells=Sample1loss"></iframe> -->
    <!-- <iframe width="100%" height="342" frameborder="0"
      src="https://observablehq.com/embed/@gurazeez16/itu-r-p2108?cells=Sample1loss%2Cviewof+Inps%2Cviewof+Ctype%2CAdditional_Loss"></iframe> -->
    <!-- <div id="observablehq-viewof-Inps-2bcf71f9"></div>
<div id="observablehq-viewof-Ctype-2bcf71f9"></div>
<div id="observablehq-Additional_Loss-2bcf71f9"></div>
<div id="observablehq-Sample1loss-2bcf71f9"></div>
<p>Credit: <a href="https://observablehq.com/@gurazeez16/itu-r-p2108">ITU-R P.2108 by gurazeez16</a></p>

<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/d/76d3d1a9f5e4d386.js?v=3";
new Runtime().module(define, name => {
  if (name === "viewof Inps") return new Inspector(document.querySelector("#observablehq-viewof-Inps-2bcf71f9"));
  if (name === "viewof Ctype") return new Inspector(document.querySelector("#observablehq-viewof-Ctype-2bcf71f9"));
  if (name === "Additional_Loss") return new Inspector(document.querySelector("#observablehq-Additional_Loss-2bcf71f9"));
  if (name === "Sample1loss") return new Inspector(document.querySelector("#observablehq-Sample1loss-2bcf71f9"));
});
</script> -->
  </div>
</div>
