<!-- <div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <h2>Login</h2>
  </div>
  <div class="content medium">
    <div class="ui medium image">
      <img src="/images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div> -->
<div class="ui login modal tiny">
  <i class="close icon"></i>
  <div class="header"><h2>Login</h2></div>
  <div class="form-text">
    <p>Welcome back! Login with your credentials</p>
  </div>
  <div class="form_container">
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="text" placeholder="Enter your email" required />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="text" placeholder="Enter your password" required />
      </div>
      <!-- <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" />
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div> -->
      <button class="ui button primary" type="submit">Login</button>
      <button class="ui button" type="reset">Reset</button>
      <div class="content">
        Dont have an account? <a class="signup_btn">Sign Up</a>
      </div>
    </form>
  </div>
</div>

<div class="ui signup modal tiny">
  <i class="close icon"></i>
  <div class="header"><h2>Sing up</h2></div>
  <div class="form-text">
    <p>Create an Account</p>
  </div>
  <div class="form_container">
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="text" placeholder="Enter your email" required />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="text" placeholder="Enter your password" required />
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input type="text" placeholder="Re-Enter your password" required />
      </div>
      <!-- <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" />
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div> -->
      <button class="ui button primary" type="submit">Sign Up</button>
      <button class="ui button" type="reset">Reset</button>
      <div class="content">
        Already have an account? <a class="login_btn">Login</a>
      </div>
    </form>
  </div>
</div>