<div class="ui inverted vertical sidebar menu">
  <a class="item">
    <h4>
      <i class="fa-solid fa-address-card"></i>
      <label class="sidebar_labels">Public Results</label>
    </h4>
  </a>
  <a class="item">
    <h4>
      <i class="fa-solid fa-compass-drafting"></i>
      <label class="sidebar_labels">M.2101 (live)</label>
    </h4>
  </a>
  <a class="item">
    <h4>
      <i class="fa-solid">5G</i>
      <label class="sidebar_labels">Cellular (live)</label>
    </h4>
  </a>
  <a class="item">
    <h4>
      <i class="fa-brands fa-buromobelexperte"></i>
      <label class="sidebar_labels">ITU-R Models(live)</label>
    </h4>
  </a>
  <a class="item">
    <h4>
      <i class="fa-solid fa-business-time"></i>
      <label class="sidebar_labels">Jobs History</label>
    </h4>
  </a>
  <a class="item">
    <h4>
      <label class="sidebar_labels">Submit SLS</label>
    </h4>
  </a>
</div>
